 .container .new-tweet {
   margin: 0;
   border: 1px solid #d0d0d0;
   border-radius: 5px;
   padding: 10px 7px;
   background: #eee;
   overflow: auto;
 }

 .container .new-tweet h2 {
   border-bottom: 1px solid #000;
   color: #134853;
 }

 .container .new-tweet textarea {
   display: block;
   width: 100%;
   margin: 15px 0 5px 0;
   padding: 5px;
 }

.container .new-tweet input {
  float: left;
}

.counter  {
   float: right;
   padding: 0 7px;
   font-style: strong;
   font-size: 1.75ex;
   line-height: 24px;
   color: #325e68;
 }

.counter.red {
  color: red;
}
